{% extends "base.html" %}
{% import "bootstrap/utils.html" as utils %}
{% block title %}Categorias{% endblock %}
{% block body %}
<div class="content-section">
  <div class="outer">
      <div class="inner">
        <br/>
        {{ utils.flashed_messages() }}
        <br/>
        <h1 style="text-align:center;">Categorias</h1>
        {% if categorias %}
          <hr class="intro-divider">
          <div class="center">
            <table class="table table-striped table-bordered">
              <thead>
                <tr>
                  <th width="20%"> Nome </th>
                  <th width="40%"> Descrição </th>
                  <th width="20%"> Data de criação </th>
                  <th width="10%"> Editar </th>
                  <th width="10%"> Deletar </th>
                </tr>
              </thead>
              <tbody>
              {% for categoria in categorias %}
                <tr>
                  <td> {{ categoria.nome }} </td>
                  <td> {{ categoria.descricao }} </td>
                  <td> {{ categoria.data_criacao }} </td>
                  <td>
                    <a href="{{ url_for('admin.edit_categoria', id=categoria.id) }}">
                      <i class="fa fa-pencil"></i> Editar
                    </a>
                  </td>
                  <td>
                    <a href="{{ url_for('admin.delete_categoria', id=categoria.id) }}">
                      <i class="fa fa-trash"></i> Deletar 
                    </a>
                  </td>
                </tr>
              {% endfor %}
              </tbody>
            </table>
          </div>
          <div style="text-align: center">
        {% else %}
          <div style="text-align: center">
            <h3> Não existem categorias cadastradas </h3>
            <hr class="intro-divider">
        {% endif %}
          <a href="{{ url_for('admin.add_categoria') }}" class="btn btn-default btn-lg">
            <i class="fa fa-plus"></i>
            Adicionar categorias
          </a>
        </div>
      </div>
    </div>
</div>
{% endblock %}