<!DOCTYPE html>
<html lang="en">
<head>
    <title>Módulo Administrativo</title>
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet">
    <link href="{{ url_for('static', filename='css/style.css') }}" rel="stylesheet">
    <link rel="shortcut icon" href="{{ url_for('static', filename='img/favicon.ico') }}">
</head>
<body>
    <nav class="navbar navbar-inverse navbar-default navbar-fixed-top topnav" role="navigation">
        <div class="container topnav">
          <div class="navbar-header">
              {% if current_user.is_authenticated %}
              <span class="navbar-text">Olá, {{ current_user.email }}!</span>
              {% endif %}
          </div>

          <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
              <ul class="nav navbar-nav navbar-right">
                <ul class="nav navbar-nav navbar-right">
                    {% if current_user.is_authenticated %}  
                    <li><a href="{{ url_for('admin.list_produtos') }}">Produtos</a></li>
                    <li><a href="{{ url_for('admin.list_fornecedores') }}">Fornecedores</a></li>
                    <li><a href="{{ url_for('home.dashboard') }}">Categorias</a></li>
                    <li><a href="{{ url_for('auth.logout') }}">Logout</a></li>
                  {% else %}
                    <li><a href="{{ url_for('home.homepage') }}">Home</a></li>
                    <li><a href="{{ url_for('auth.login') }}">Login</a></li>
                  {% endif %}
                </ul>
              </ul>
          </div>
        </div>
    </nav>
    <div class="wrapper">
      {% block body %}
      {% endblock %}
      <div class="push"></div>
    </div>
</body>
</html>